<div class="header">
  <h1>Pi-Radio-Bonnet Web Player</h1>
</div>

<ngx-spinner *ngIf="socketService.connectedToServer == false"> Waiting for server</ngx-spinner>

<div class="row"*ngIf="socketService.connectedToServer">
  <div class="col-10"></div>
  <div class="col-10">
    <button mat-button (click)=seekDown($event)>
      <mat-icon class="radio_freq">skip_previous</mat-icon>
    </button>
  </div>
  <div class="col-60 radio_freq">
    {{socketService.radio.freq}} MHz
  </div>
  <div class="col-10">
    <button mat-button (click)=seekUp($event)>
      <mat-icon class="radio_freq">skip_next</mat-icon>
    </button>
  </div>
  <div class="col-10"></div>
</div>

<div class="row"*ngIf="socketService.connectedToServer">
  <div class="col-100 radio_ps">
    {{socketService.radio.PS}}
  </div>
</div>

<div class="row"*ngIf="socketService.connectedToServer">
  <div class="col-100 radio_ta">
    {{socketService.radio.RadioTextA}}
  </div>
</div>

<div class="row"*ngIf="socketService.connectedToServer">
  <div class="col-10"></div>
  <div class="col-30">
    <ngx-gauge type=arch
           cap="butt"
           foregroundColor="rgba(0, 0, 150, 1)"
           value={{socketService.radio.SNR}}
           label="SNR"
           append="dB"
           thick="10"
           min="-5"
           max="30"
           size="100">
    </ngx-gauge>
  </div>
  <div class="col-10"></div>
  <div class="col-10"></div>
  <div class="col-30">
    <ngx-gauge type=arch
           form="Flat"
           foregroundColor="rgba(0, 150, 0, 1)"
           value={{socketService.radio.RSSI}}
           label="RSSI"
           append="dBm"
           thick="10"
           min="00"
           max="50"
           size="100">
    </ngx-gauge>
  </div>
  <div class="col-10"></div>
</div>

<div class="row"*ngIf="socketService.connectedToServer">
  <div class="col-100">
    <div class="layer1">
      <i class="material-icons">volume_down</i>
      <mat-slider (input)="updateSetting($event)" value={{socketService.volume}} style="margin-bottom: 15px; border-radius: 30px; height: 30px" ></mat-slider>
      <i class="material-icons">volume_up</i>
    </div>
    <div class="layer2">
      <h3>{{socketService.volume}} %</h3>
    </div>
  </div>
</div>

<div class="footer">
  by Iz2k
</div>
